[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
mysql-connector-python = "*"
flask = "*"
Flask-Api = "*"
flask-restful = "*"
Flask-SQLAlchemy = "*"
jsons = "*"
serverless-wsgi = "*"
Werkzeug = "*"
google-api-python-client = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
pypika = "*"

[dev-packages]
python-lambda-local = "*"
autopep8 = "*"

[requires]
python_version = "3.9"