
    <nav>
        <ul>
           {% if client.current == "about" %}
            <li><a href="../">HOME</a></li>
            <li><a href="../tools">TOOLS</a></li>
            <li><a class="current" href="../about">About</a></li>
            {% elif client.current == "index" %}
            <li><a class="current" href="../">HOME</a></li>
            <li><a href="../tools">TOOLS</a></li>
            <li><a href="../about">About</a></li>
           
            {% elif client.current == "tools" %}
            <li><a href="../">HOME</a></li>
            <li><a class="current" href="../tools">TOOLS</a></li>
            <li><a href="../about">About</a></li>
           
            {% endif %}
        
        {% if client.name == "" %}
            <li><a class="#" href="#">WELCOME <span id="client-name">{{client.name}}</span></a></li>
            <li><a href="../login">log in</a></li>
        {% endif %}
    
        {% if not client.name == "" %}
            {% if client.current == "profile" %}
            <li><a class="current" href="../profile">WELCOME <span id="client-name">{{client.name}}</span></a></li>
            {% else %}
            <li><a href="../profile">WELCOME <span id="client-name">{{client.name}}</span></a></li>
            {% endif %}
            <li><a href="../logout">log out</a></li>
        {% endif %}
        </ul>
    </nav>
